body{
	padding: 50px;
	background-color: navajowhite;
}

}

.logo{
	
}

.header-navigation{
	margin-bottom: 50px;
}

.header-navigation li {
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0;
	text-decoration: none;
}
.header-navigation .active-page{
	color: red;
}

footer img{
	height: 30px;
	width: auto;
	margin-top: 58px;
}
.date .date-number{
	background-color: #3D58A6;
	padding: 15px;
	color: white;
	display: inline-block;
	font-size: 37px;
}
.section-header{
	font-size: 22px;
	color: #3D58A6;
}
.first-section h3{
	margin: 40px 0px;
	font-size: 20px;
}
.first-section .text{
	font-size: 16px;
	margin: 0px 40px;
}
.header-navigation {
	display: inline-block;
	margin-bottom: 3px;
}
.header-navigation li{
	display: inline-block;
	margin-right: 20px;
	
}
.mtavari{
	padding: 50px;
}
.main-article div{
	background-color: #585950;
	width: 570px;
	display: inline-block;
	padding: 0 20px 20px 20px;
}
.main-article div img{
	width: 100px;
	height: auto;
	vertical-align: center;
}
.main-article div h4{
	margin: 20px 0px;
}
.main-article div p{
	display: inline-block;
	font-size: 20px;
	width: 355px;
	margin-left: 60px;
	vertical-align: center;
}
.left-div{
	margin-right: 45px;
}
.article-header{
	margin-top: 120px;
	margin-bottom: 40px;
}
ul{
	display: inline-block;
}
.text{
	display: inline-block;
	width: 940px;

}

}
.just-section .map{
	width: 850px;
	height: auto;
	padding-right: 100px;
}
.just-article{
	display: inline-block;
	vertical-align: top;
}


